/* Make the header and button appear on the same row */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes the button to the right */
    margin-bottom: 10px; /* Adds some space below the header */
  }
  
  /* Style the button to make it more visually appealing */
  #unhide-obsolete-button {
    background-color: #b6bfc2;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #unhide-obsolete-button:hover {
    background-color: #45a049;
  }

/* Style the need boxes */
.need-box {
  width: 120px;
  height: 25px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  background-color: transparent;
}

.need-box .need-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: width 0.3s ease;
}

.need-box .text-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 12px;
  flex-grow: 1;
}

.need-box .checkbox-container {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 2;
}

.need-box input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
}