  
  .resource-row {
    display: grid;
    grid-template-columns: 35% 21% 3% 21% 25%; /* Default layout with cap */
    align-items: center;
    font-size: 12px;
    column-gap: 0;
  }
  
  .resource-row.no-cap {
    grid-template-columns: 35% 45% 25%; /* When there's no cap, value takes more space */
  }
  
  .resource-name {
    text-align: left; /* Left-align names */
  }
  
  .resource-value {
    text-align: right; /* Right-align values */
  }

  .resource-row.no-cap .resource-value {
    text-align: center; /* Center the value when there's no cap */
  }
  
  .resource-slash {
    text-align: center; /* Center the slash */
  }
  
  .resource-cap {
    text-align: left; /* Left-align caps */
  }
  
  .resource-pps {
    text-align: right; /* Right-align pps */
  }
  
  .scanning-progress {
    text-align: center;
    margin-top: 5px;
    font-size: 11px;
    color: gray;
  }