  
  .resource-row {
    display: grid;
    grid-template-columns: 32% 21% 3% 21% 23%; /* Default layout with cap */
    align-items: center;
    font-size: 13px;
    column-gap: 0;
  }
  
  .resource-row.no-cap {
    grid-template-columns: 32% 45% 23%; /* When there's no cap, value takes more space */
  }
  
  .resource-name {
    text-align: left; /* Left-align names */
  }
  
  .resource-value {
    text-align: right; /* Right-align values */
  }

  .resource-row.no-cap .resource-value {
    text-align: center; /* Center the value when there's no cap */
  }
  
  .resource-slash {
    text-align: center; /* Center the slash */
  }
  
  .resource-cap {
    text-align: left; /* Left-align caps */
  }
  
  .resource-pps {
    text-align: right; /* Right-align pps */
  }
  
  .scanning-progress {
    text-align: center;
    margin-top: 5px;
    font-size: 11px;
    color: gray;
  }
  
  .resource-item {
    position: relative;
  }
  
  .resource-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    z-index: 1;
    width: 200px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: none;
  }
  
  .resource-item:hover .resource-tooltip {
    display: block;
  }

  .resource-festival {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }

  .sparkling-gold {
    color: gold;
    font-weight: bold;
    text-shadow: 1px 1px 2px darkgoldenrod;
  }

  .resource-wrapper {
    background-color: #f4f4f4;
    padding-right: 5px;
  }


  #resources-container h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }